{% load static %}
<!DOCTYPE HTML>
<html>
	{% include "includes/header.html" %}
	<body class="is-preload homepage">
		<div id="page-wrapper">
            <div id = "our-services" class="box container features-box text-center">
                <div class="col-12-medium">
                    <h2 class ="cinzel-decorative-bold">Our Services</h2>
                </div>
                <div id = "services" class="row">
                    <div class="col-4 col-12-medium">
                        <!-- Box -->
                            <section class="box feature">
                                <div class="center-btn">
                                    <img class="image featured" src="{% static 'images/services/smp-before-after.png' %}" alt="" />
                                </div>
                                <div class="inner">
                                    <header>
                                        <h3 class = "center-btn" style = "height: 60px;">Scalp micopigmentation</h3>
                                        <p>Crown</p>
                                        <p>Hair Line</p>
                                        <p>Half Scalp/Full Scalp</p>
                                        <div class="center-btn">
                                            <a href="/services/smp" class="button-13" role="button">Learn more</a>
                                        </div>
                                    </header>
                                </div>
                            </section>
                    </div>
                    <div class="col-4 col-12-medium">
                        <!-- Box -->
                            <section class="box feature">
                                <div class="center-btn">
                                    <img class="image featured" src="{% static 'images/services/microblading.jpg' %}" alt="" />
                                </div>
                                <div class="inner">
                                    <header>
                                        <h3 class = "center-btn" style = "height: 60px;">Semi-Permanent Brows</h3>
                                        <p>Microblading</p>
                                        <p>Microshading</p>
                                        <p>Combo brows</p>
                                        <div class="center-btn">
                                            <a href="/services/semi-permanent-brows" class="button-13" role="button">Learn more</a>
                                        </div>
                                    </header>
                                </div>
                            </section>
                    </div>
                    <div class="col-4 col-12-medium">
                        <!-- Box -->
                            <section class="box feature">
                                <div class="center-btn">
                                    <img class="image featured" src="{% static 'images/services/brow-tinting.jpg' %}" alt="" />
                                </div>
                                <div class="inner">
                                    <header>
                                        <h3 class = "center-btn" style = "height: 60px;">Brow Styling</h3>
                                        <p>Brow Lamination</p>
                                        <p>Brow Tinting</p>
                                        <p>Brow Shaping</p>
                                        <div class="center-btn">
                                            <a href="/services/brow-styling" class="button-13" role="button">Learn more</a>
                                        </div>
                                    </header>
                                </div>
                            </section>
                    </div>
                </div>
                <div class="col-4 padding-top-1 text-center">
                    <a href="https://www.instagram.com/vivace.lounge/" class="button" target="_blank">Check Promotion</a>
                    <a href="/services/brow-package" class="button">Check Brow Styling Package</a>
                </div>	
            </div>
            <!-- Footer -->
			{% include "includes/footer.html" %}
        </div>
    </body>
</html>