{% load static %}
<div id = "book-appointment-today" class="box container features-box">
    <div class="row horizontally-center">
        <div class="width-70 text-center">
            <h2>Book Your Appointment Today!</h2>
            <p>Easily book your appointment online <br>and achieve your dream look with expert care.</p>
            <div class="col-4 padding-top-1">
                <a href="#" class="button">Book an Appointment</a>
            </div>	
            <div class="col-4 padding-top-1">
                <a href="#" class="button">Send Inquiry</a>
            </div>	
        </div>
    </div>
</div>