{% load static %}
<section id="contact" class="wrapper style4">
    <div class="contact-us">
        <h2>Book Your Appointment Today!</h2>
        <a href="https://book.squareup.com/appointments/80on3gpdyragy7/location/LS09D8JNPDZTF/services" class="button fit primary"  target="_blank">Book Appointment</a>
    </div>
    <br/><br/><br/>
    <div class="contact-us">
        <form action="https://formsubmit.co/vivace.lounge.adm@gmail.com" method="POST">
            <h2>Do you have any questions?</h2>
            <label>Name:</label>
            <input type="text" name="name" required>
            <label>Email:</label>
            <input type="email" name="email" required>
            <label>Message:</label>
            <textarea name="message" required></textarea>
            <br/>
            <button type="submit">Send Inquiry</button>
        </form>
    </div>
</section>