{% load static %}
<footer id="footer">
    <ul class="contact">
        <li>Address: 20 Eglinton Ave E, Toronto</li>
        <li>Email: vivace.lounge.adm@gmail.com</li>
        <li>Phone (Text Only): 647-495-2365</li>
    </ul>
    <ul class="social-icons icons">
        
        <li><a href="https://www.instagram.com/vivace.lounge/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
        <li><a href="https://www.tiktok.com/@vivace.lounge" class="icon brands fa-tiktok" target="_blank"><span class="label">TikTok</span></a></li>
        <li><a href="https://www.youtube.com/@VivaceLounge" class="icon brands fa-youtube" target="_blank"><span class="label">Youtube</span></a></li>
        <li><a href="mailto:vivace.lounge.adm@gmail.com" class="icon solid fa-envelope" target="_blank"><span class="label">Email</span></a></li>
    </ul>
    
    <ul class="copyright">
        <li>Copyright &copy; 2025 Vivace Lounge All rights reserved.</li>
    </ul>
</footer>
