{% load static %}
<div id="footer-wrapper">
    <footer id="footer" class="container">
        <div class="row">
            <div class="col-9 col-6-medium col-12-small">

                <!-- Contact Us -->
                <h3>Contact Us</h3>
                <ul class="style2">
                    <li>Address</li>
                    <li class = "margin-top--07">20 Eglinton Ave E, Toronto</li>
                    <li>Email</li>
                    <li class = "margin-top--07">vivace.lounge.adm@gmail.com</li>
                    <li>Phone (Text Only)</li>
                    <li class = "margin-top--07">647-495-2365</li>
                </ul>
            </div>
            
            <div class="col-6-medium col-12-small">

                <!-- Links -->
                <section id="social-icons" class="widget contact last">
                    <h3>Links</h3>
                    <ul>
                        <li><a href="https://www.instagram.com/vivace.lounge/" class="icon brands" target="_blank"><img src="{% static 'images/icon/instagram.png' %}" alt="" ></a></li>
                        <li><a href="http://pf.kakao.com/_Uegxdn" class="icon brands" target="_blank"><img src="{% static 'images/icon/kakao.png' %}" alt="" ></a></li>
                        <li><a href="https://book.squareup.com/appointments/80on3gpdyragy7/location/LS09D8JNPDZTF/services" class="icon brands" target="_blank"><img src="{% static 'images/icon/square.png' %}" alt="" ></a></li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="copyright">
                    <ul class="menu">
                        <li>Copyright &copy; 2025 Vivace Lounge All rights reserved.</li></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>