{% load static %}
<head>
    <title>Best Affordable SMP, Brows, and Skin Treatment in Toronto | Vivace Lounge</title>
    <meta charset="UTF-8">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Looking for the best SMP and beauty treatments in Toronto? Vivace Lounge offers expert scalp micropigmentation (SMP), eyebrow services, and premium skin treatments. Book now for a natural and confident look!">
    <meta name="keywords" content="SMP Cost, SMP Price, Affordable SMP, SMP, Affordable, SMP Toronto, Best SMP, Scalp Micropigmentation, Hair Loss Treatment, Brow, Brow Toronto, Microblading Toronto, Brow Lamination Toronto, Eyebrow Tinting, Beauty Treatment, Skin Glow, Facial Toronto, Skin Care Toronto, Toronto Beauty Spa, Cosmetic Tattoo, Permanent Makeup Toronto, SMP specialist, Hairline Restoration Toronto, Beauty Salon Toronto">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    
    <noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}" /></noscript>
    <link rel="canonical" href="https://vivacelounge.com/">
    <meta property="og:description" content="Vivace Lounge specializes in SMP, eyebrow enhancements, and luxury skin treatments in Toronto. Book your appointment today!">
    <meta property="og:image" content="https://vivacelounge.com/static/images/smp-half-scalp-before-after.png">
    <meta property="og:url" content="https://vivacelounge.com/">
    <meta property="og:site_name" content="Best SMP, Brows, and Skin Treatment in Toronto | Vivace Lounge">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Best SMP, Brows, and Skin Treatment in Toronto | Vivace Lounge">
    <link rel="icon" type="image/x-icon" href="{% static 'images/icon/favicon/favicon.ico' %}">
</head>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-5980KJZC0C"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-5980KJZC0C');
</script>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Vivace Lounge",
        "image": "https://vivacelounge.com/static/images/smp-half-scalp-before-after.png",
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "Toronto",
            "addressCountry": "CA"
        },
        "description": "Vivace Lounge specializes in SMP, brow enhancements, and luxury skin treatments in Toronto.",
        "url": "https://vivacelounge.com/"
    }
</script>
<!-- Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'js/browser.min.js' %}"></script>
<script src="{% static 'js/breakpoints.min.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>