{% load static %}
<section id="skin_intro" class="wrapper alt style2">
    <section class="spotlight">
        <div class="image"><img src="{% static 'images/skin-treatment-before-after.png' %}" alt="" /></div><div class="content">
            <h2>Skin Treatment</h2>
            <h4>Reveal your natural radiance</h4>
            <p>Vivace Lounge specializes in luxurious beauty treatments tailored for your skin’s ultimate glow and hydration. Our treatments are thoughtfully curated to rejuvenate, enhance, and reveal your natural radiance.</p>
        </div>
    </section>
</section>

<!-- skin-why-us -->
<section id="skin_why_us" class="wrapper style3 special">
    <div class="inner">
        <header class="major">
            <h2>Why Choose Vivace Lounge for Skin Treatments in Toronto?</h2>
            <p>Vivace Lounge offers the best skin treatments in Toronto, combining luxurious skincare, advanced beauty techniques, and professional expertise. Our beauty specialists provide personalized services, including sebum removal, aqua peeling, lip resurfacing, eyebrow shaping, and specialized hydration therapies. Experience premium beauty care that rejuvenates your skin, enhances your natural glow, and restores your confidence at Toronto’s trusted beauty lounge.</p>
        </header>
        <ul class="features">
            <li class="icon solid fa-check">
                <h3>Customized Care</h3>
                <p>Personalized skin treatments designed to match your skin’s unique needs.</p>
            </li>
            <li class="icon solid fa-check">
                <h3>Advanced Techniques</h3>
                <p>Utilizing the latest skin innovations to achieve luminous and hydrated skin.</p>
            </li>
            <li class="icon solid fa-check">
                <h3>Quality Products</h3>
                <p>Premium products and formulations selected for visible results and comfort.</p>
            </li>
            <li class="icon solid fa-check">
                <h3>Professional Expertise</h3>
                <p>Highly trained specialists dedicated to providing luxurious and effective beauty experiences.</p>
            </li>
        </ul>
    </div>
</section>