{% load static %}
<!DOCTYPE HTML>
<html>
	{% include "includes/header.html" %}
	<body class="is-preload homepage">
		<div id="page-wrapper">
            <div id = "how-semi-permanent-brow" class="box container features-box text-center">
                <div class="col-12-medium">
                    <h2 class ="cinzel-decorative-bold">Semi Permanent Brow</h2>
                </div>
                <section class="box feature">
                    <img src="{% static 'images/services/microblading.jpg' %}" alt="" class="circle-img"/>
                </section>
                <section class="box feature text-left">
                    <p class ="cinzel-decorative-bold margin-top-1-5">Microblading</p>
                    <p>A semi-permanent brow technique that mimics natural hair strokes for fuller, defined eyebrows. Ideal for those looking for a soft, natural finish.</p>
                    <p class ="cinzel-decorative-bold margin-top-1-5">Microshading (Powder Brows)</p>
                    <p>A gentle shading technique that creates a soft, powdered effect, giving the brows more definition and fullness.</p>
                    <p class ="cinzel-decorative-bold margin-top-1-5">Combo Brows (Microblading + Shading)</p>
                    <p>A combination of Microblading & Microshading, offering the best of both worlds – natural hair strokes with added depth and definition.</p>
                </section>
                
                <div class="col-4 padding-top-1 text-center">
                    <a href="https://www.instagram.com/vivace.lounge/" class="button" target="_blank">Check Promotion</a>
                </div>
                <div class="col-4 padding-top-1 text-center">
                    <a href="https://book.squareup.com/appointments/80on3gpdyragy7/location/LS09D8JNPDZTF/services" class="button" target="_blank">Book Appointment</a>
                </div>		
            </div>
            <!-- Footer -->
			{% include "includes/footer.html" %}
        </div>
    </body>
</html>