{% load static %}
<div id = "client-testimonial" class="box container features-box">
    <div class="col-12-medium text-center">
        <h2 class ="cinzel-decorative-bold">Client Testimonial</h2>
        <div class="row">
            <div class="col-4 col-12-medium">
                <!-- Box -->
                    <section class="box feature">
                        <div class="inner">
                            <header>
                                <p>"I was hesitant about SMP at first, but the results are beyond amazing! My hairline looks so natural, and I feel so much more confident. The attention to detail and professionalism here are unmatched. Highly recommend!"</p>
                                <p>- James L.</p>
                            </header>
                        </div>
                    </section>
            </div>
            <div class="col-4 col-12-medium">
                <!-- Box -->
                    <section class="box feature">
                        <div class="inner">
                            <header>
                                <p>"This was the ultimate self-care experience! My brows look perfectly shaped and lifted, and the under-eye patch treatment was so refreshing. The aroma hand massage and lip resurfacing therapy were the perfect finishing touches. I left feeling completely pampered!"</p>
                                <p>- Sophia M.</p>
                            </header>
                        </div>
                    </section>
            </div>
            <div class="col-4 col-12-medium">
                <!-- Box -->
                    <section class="box feature">
                        <div class="inner">
                            <header>
                                <p>"I absolutely love my new brows! The combination of microblading and shading gave me the perfect balance of natural hair strokes and soft definition. No more filling in my brows every morning—just wake up and go!"</p>
                                <p>- Emily R.</p>
                            </header>
                        </div>
                    </section>
            </div>
        </div>
    </div>
</div>