{% load static %}
<nav id="nav">
    <div class="nav-container">
        <div class="logo">
        <a href="#">
            <img src="{% static 'images/web-logo.png' %}" alt="Logo">
        </a>
        </div>
        <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/training">Training</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="#footer-wrapper">Contact</a></li>
        <li><a href="#">Booking</a></li>
        </ul>
    </div>
</nav>