/* Dropdown submenu styling */
.has-submenu {
    position: relative;
  }
  
  .has-submenu .submenu {
    display: none;
    position: relative;
    background-color: transparent;
    list-style: none;
    padding: 5px 0;
    margin-left: 15px; /* 들여쓰기 */
    border: none;
  }
  
  .has-submenu:hover .submenu {
    display: block;
  }
  
  .has-submenu .submenu li {
    padding: 5px 0;
    border-bottom: none;
  }
  
  .has-submenu .submenu li a {
    text-decoration: none;
    color: inherit; /* 기존 메뉴 색상 상속 */
    font-size: 90%; /* 글자 크기 조금 작게 */
  }
  
  .has-submenu .submenu li a:hover {
    color: #007BFF; /* 하이라이트 색상 */
  }
  
.contact-us {
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

#footer .contact {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8em;
  letter-spacing: 0.225em;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
}

#social-icons img{
  width: 105%;
  height: 100%;
}

.certification-box{
  display: flex;
  justify-content: center;
  gap: 1em; /* 이미지 사이 간격 */
  margin-bottom: 3em; /* 줄 간격 */
}

.img-box .image-container {
  text-align: center; /* 이미지와 텍스트 중앙 정렬 */
}

.image-container {
  width: 100%;
  position: relative;
  display: inline-block;
}


.img-box{
  display: flex;
  justify-content: center;
  gap: 3em; /* 이미지 사이 간격 */
  margin-bottom: 3em; /* 줄 간격 */
}

@media screen and (max-width: 736px) {
  .img-box {
    flex-direction: column;
    align-items: center;
    gap: 2em; /* 이미지 사이 간격 */
    margin-bottom: 2em; /* 줄 간격 */
  }

}
.image-container img {
  width: 100%; /* 이미지 크기 조정 */
  height: 100%;
  opacity: 0.8;
}

.image-container {
  width: 100%;
  position: relative;
  display: inline-block;
}

#service-smp-photo img{
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  opacity: 1;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  max-height: 0;
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.4s ease-out, padding 0.4s ease-out;
}

.panel.active {
  max-height: 500px; /* 또는 적절한 높이 값 */
  padding: 18px; /* 패딩을 활성화해서 내용이 부드럽게 표시되도록 */
}

.panel p ,.panel ul {
  text-align: left;
  margin: 1em;
}

.panel ul{
  margin-bottom: 0.5em;
}

.table-container {
  width: 100%;
  max-width: 100%;
  overflow-x: auto; /* 테이블만 가로 스크롤 */
  display: block; /* block으로 설정하여 개별 요소처럼 작동 */
  -webkit-overflow-scrolling: touch; /* 모바일에서 부드러운 스크롤 */
}
table {
  width: 100%;
  border-collapse: collapse;
}
